.header{
    font-size: 80px;
    top: 5px;
    width: 800px;
    height: 300px;
     /* z-index: 2; */
}
.Small {
    color: rgb(58, 58, 58);
    font-size: 40px;
}

.mainbody{
    top: 300px;
    left: 100px;
    right: 100px;
    bottom:200px;
    position: absolute;
}
.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    font-size: 8px;
    text-align: center;
    position: fixed;
    background-color: navy;
    color:white;
    font-size: 30px;
}
.backgroundimagery{
    background-image: url("../images/blue\ byu.jpeg");
    /* opacity: 0.5; */
}
.white{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.bold {
    font-weight: bold;
    color: rgb(211, 209, 209);
}
.bold1 {
    font-weight: bold;
    color: rgb(151, 151, 151);
}
.bold2 {
    font-weight: bold;
    color: rgb(88, 88, 88);
}